@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div class="jumbotron">
    <h1>@ViewBag.Message</h1>
    <h1>@ViewBag.Greeting @ViewBag.Username</h1>
    <p>The current date is @ViewBag.CurrentDate.ToLongDateString()</p>
    @Html.ActionLink("Signup","Signup")
</div>
